@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f3f4f6; /* Light mode background */
  --color-text: #111827; /* Light mode text */
  --color-background-dark: #1f2937; /* Dark mode background */
  --color-text-dark: #f9fafb; /* Dark mode text */
}

:root {
  @apply bg-[var(--color-background)] text-[var(--color-text)];
}

.dark {
  @apply bg-[var(--color-background-dark)] text-[var(--color-text-dark)];
}
